src/**
tsconfig.json
.vscode/**
.venv/**
venv/**
env/**
.env/**
.obsidian/**
.trash/**
*.code-workspace
**/*.map
TEMP/**
design/temp/**
release/**
script/post-tools/**
!script/post-tools/README.md
node_modules/**/.cache/**
*.feap
**/*.feap
!EA-model-template/EA-model-template.feap
